@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



// Color Palette

$black: #000000;
$white: #fcfae7;
$orange-main: #e87920;
$dark-main: #111111;
$dark-faded: #272727;
$dark-hover: #2c2c2c;
$gray-main: #474747;



// Misc & Other

$border-rad-xxs: 0.25rem;
$border-rad-xs: 0.5rem;
$border-rad-sm: 1rem;
$border-rad-md: 1.5rem;
$border-rad-lg: 2rem;
$border-rad-xl: 3rem;
$border-rad-xxl: 4rem;
$inlinePadding: 4rem;



// Default Styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    color: $black;
}

body {
    background-color: $white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

button {
    outline: none;
    cursor: pointer;
}

input {
    outline: none;

    &:focus {
        outline: none;
    }
}

textarea {
    &:focus {
        outline: none;
    }
}

img,
i,
svg {
    user-select: none;
    -webkit-user-drag: none;
}

.App {
    min-height: 100vh;
    overflow: hidden;
    background-color: $white;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    // background-color: $dark-faded;
    background-color: $white;
}


// Mixins

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


// Dividers & Containers

.context-wrapper {
    padding-top: 4rem;
    padding-inline: $inlinePadding;

    @media(max-width: 1024px) {
        padding-inline: 2rem;
    }

    @media(max-width: 768px) {
        padding-inline: 1rem;
    }
}

.title-main {
    font-size: 3.5rem;
    font-weight: 600;
    color: $white;

    @media(max-width: 670px) {
        font-size: 2.2rem;
    }
}

.title-second {
    font-size: 2rem;
    font-weight: 500;
    color: $white;

    @media(max-width: 670px) {
        font-size: 1.8rem;
    }
}

::-webkit-scrollbar {
    width: 0.4rem;
    position: absolute;
    background-color: transparent;

}

::-webkit-scrollbar-track {
    margin-top: 4rem;
    margin-bottom: 10px;
    height: 100%;
}

::-webkit-scrollbar-thumb {
    background-color: $orange-main;
}




// Animations

@keyframes fadeInUp-2rem {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}