@use "../globals.scss" as *;


.Anasayfa {
    .anasayfaContext {
        padding-inline: $inlinePadding;
    }

    .aboutSectionContainer {
        width: 100%;
        @include flex-center;

    }

}