@use "../globals.scss" as *;


.Anasayfa {
    video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    .anasayfaContext {
        padding-inline: $inlinePadding;

        @media(max-width: 1024px) {
            padding-inline: 2rem;
        }

        @media(max-width: 768px) {
            padding-inline: 1rem;
        }

        display: flex;
        flex-direction: column;
        row-gap: 5rem;
        margin: 5rem 0rem;

        .aboutSectionContainer {
            width: 100%;
            @include flex-center;
            column-gap: 8rem;
            text-align: center;

            @media(max-width: 1024px) {
                column-gap: 4rem;
            }

            @media(max-width: 570px) {
                flex-direction: column;
                row-gap: 2rem;
            }

            .aboutSectionLogo {
                height: 10rem;

                // @media(max-width: 570px) {
                //     display: none;
                // }
            }

            .aboutTextContainer {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                align-items: center;

                h1 {
                    font-size: 28px;
                    font-weight: 600;

                    @media(max-width: 1024px) {
                        font-size: 22px;
                    }
                }

                p {
                    line-height: 2rem;
                    text-align: start;
                    font-size: 1rem;

                    @media(max-width: 1024px) {
                        font-size: 0.8rem;
                    }
                }

                .aboutText {
                    display: flex;
                    flex-direction: column;
                    row-gap: 1rem;

                    p {
                        font-size: 1rem;
                        line-height: 1.6rem;
                        text-align: start;

                        @media(max-width: 1024px) {
                            font-size: 0.8rem;
                            line-height: 1.2rem;
                        }
                    }
                }

                .portfolioLinkButton {
                    position: relative;
                    padding-inline: 3rem;
                    height: 3rem;
                    font-size: 1rem;
                    background-color: $black;
                    color: $white !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    z-index: 1;

                    @media(max-width: 768px) {
                        font-size: 0.8rem;
                    }

                    @media(max-width: 570px) {
                        padding-inline: 2rem;
                    }
                }

                .portfolioLinkButton::before {
                    display: block;
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 100%;
                    top: 0;
                    right: 0;
                    z-index: -1;
                    background-color: $orange-main;
                    transition: all 0.3s ease;
                }

                .portfolioLinkButton:hover::before {
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .mapChartSectionContainer {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .statSectionContainer {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 1fr);
            column-gap: 10rem;

            @media(max-width: 1440px) {
                column-gap: 4rem;
            }

            @media(max-width: 1200px) {
                column-gap: 2rem;
            }

            @media(max-width: 768px) {
                column-gap: 1rem;
            }

            @media(max-width: 520px) {
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
            }

            .stat {
                background-color: $black;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                row-gap: 0.4rem;
                padding: 1rem 3rem;

                @media(max-width: 1024px) {
                    padding: 1rem 1.3rem;
                }

                @media(max-width: 768px) {
                    padding: 1rem;
                }

                &:nth-child(2) {
                    background-color: $orange-main;
                }

                svg {
                    fill: $white;
                    font-size: 2rem;
                    display: flex;

                    @media(max-width: 1024px) {
                        font-size: 1.6rem;
                    }

                    @media(max-width: 768px) {
                        font-size: 1.2rem;
                    }

                    @media(max-width: 520px) {
                        font-size: 1.4rem;
                    }
                }

                h2 {
                    color: $white;
                    font-size: 2rem;
                    font-weight: 600;

                    @media(max-width: 1024px) {
                        font-size: 1.6rem;
                    }

                    @media(max-width: 768px) {
                        font-size: 1.3rem;
                    }

                    @media(max-width: 520px) {
                        font-size: 1.5rem;
                    }   
                }

                p {
                    color: $white;
                    font-weight: 500;
                    font-size: 1rem;

                    @media(max-width: 1024px) {
                        font-size: 0.8rem;
                    }

                    @media(max-width: 768px) {
                        font-size: 0.6rem;
                    }

                    @media(max-width: 520px) {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}