@use "../globals.scss" as *;


.Anasayfa {
    video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    .anasayfaContext {
        padding-inline: $inlinePadding;
        display: flex;
        flex-direction: column;
        row-gap: 5rem;
        margin: 5rem 0rem;

        .aboutSectionContainer {
            width: 100%;
            @include flex-center;
        }
        
        .mapChartSectionContainer {
            background-color: red;
            padding: 2rem;
    
            .map {
                width: 100%;
                height: 40rem;
                background-color: yellowgreen;
            }
        }

        .statSectionContainer {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 1fr);
            column-gap: 10rem;

            .stat {
                background-color: $black;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                row-gap: 1rem;
                padding: 2rem 3rem;

                &:nth-child(2) {
                    background-color: $orange-main;
                }

                svg {
                    fill: $white;
                    font-size: 2rem;
                }

                p {
                    color: $white;
                    font-weight: 500;
                    font-size: 1rem;

                    span {
                        color: $white;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}