@use "../globals.scss" as *;


.Anasayfa {
    video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    .anasayfaContext {
        padding-inline: $inlinePadding;
        display: flex;
        flex-direction: column;
        row-gap: 5rem;
        margin: 5rem 0rem;

        @media(max-width: 1024px) {
            padding-inline: 2rem;
            row-gap: 4rem;
            margin: 4rem 0;
        }

        @media(max-width: 768px) {
            padding-inline: 1rem;
            row-gap: 3rem;
            margin: 3rem 0;
        }

        .aboutSectionContainer {
            width: 100%;
            @include flex-space-between;
            min-height: 20rem;
            text-align: center;
            column-gap: 2rem;

            @media(max-width: 1024px) {
                column-gap: 4rem;
            }

            @media(max-width: 1024px) {
                column-gap: 6rem;
            }

            @media(max-width: 570px) {
                flex-direction: column;
                row-gap: 2rem;
            }

            .logoContainer {
                display: flex;
                column-gap: 1rem;

                @media(max-width: 570px) {
                    flex-direction: column;
                    row-gap: 1rem;
                }

                .aboutSectionLogo {
                    height: 10rem;
                }

                .categoryButtons {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    @media(max-width: 570px) {
                        flex-direction: row;
                    }

                    button {
                        outline: none;
                        background-color: transparent;
                        border: 2px solid $black;
                        border-radius: 10rem;
                        padding: 0.4rem;
                        @include flex-center;
                        transition: background-color 0.2s ease, scale 0.2s ease, border-color 0.2s ease;

                        &:hover {
                            background-color: $orange-main;
                            border-color: $orange-main;
                            scale: 1.1;

                            svg {
                                fill: $white;
                            }
                        }

                        svg {
                            fill: $black;
                            font-size: 1.4rem;
                            transition: fill 0.2 ease;
                            @include flex-center
                        }
                    }

                    .selectedCategoryButton {
                        background-color: $orange-main;
                        border-color: $orange-main;

                        svg {
                            fill: $white;
                        }
                    }
                }

            }


            .aboutTextContainer {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                align-items: center;
                width: 80%;

                @media(max-width: 570px) {
                    width: 100%;
                    padding-inline: 0.6rem;
                }

                h1 {
                    font-size: 28px;
                    font-weight: 600;

                    @media(max-width: 1024px) {
                        font-size: 22px;
                    }
                }

                p {
                    line-height: 2rem;
                    text-align: start;
                    font-size: 1rem;

                    @media(max-width: 1024px) {
                        font-size: 0.8rem;
                    }
                }

                .aboutText {
                    display: flex;
                    flex-direction: column;
                    row-gap: 1rem;

                    p {
                        font-size: 1rem;
                        line-height: 1.6rem;
                        text-align: start;

                        @media(max-width: 1024px) {
                            font-size: 0.8rem;
                            line-height: 1.2rem;
                        }
                    }
                }

                .portfolioLinkButton {
                    position: relative;
                    padding-inline: 3rem;
                    height: 3rem;
                    font-size: 1rem;
                    background-color: $black;
                    color: $white !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    z-index: 1;

                    @media(max-width: 768px) {
                        font-size: 0.8rem;
                    }

                    @media(max-width: 570px) {
                        padding-inline: 2rem;
                    }
                }

                .portfolioLinkButton::before {
                    display: block;
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 100%;
                    top: 0;
                    right: 0;
                    z-index: -1;
                    background-color: $orange-main;
                    transition: all 0.3s ease;
                }

                .portfolioLinkButton:hover::before {
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .mapChartSectionContainer {
            display: flex;
            align-items: center;
            cursor: pointer;
            background-image: url(../../assets/PaperTexture.png);
            background-repeat: no-repeat;
            background-size: contain;
            padding-bottom: 0;
        }

        .statSectionContainer {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 1fr);
            column-gap: 10rem;

            @media(max-width: 1440px) {
                column-gap: 4rem;
            }

            @media(max-width: 1200px) {
                column-gap: 2rem;
            }

            @media(max-width: 768px) {
                column-gap: 1rem;
            }

            @media(max-width: 520px) {
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
            }

            .stat {
                background-color: $black;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                row-gap: 0.4rem;
                padding: 1rem 3rem;

                @media(max-width: 1024px) {
                    padding: 1rem 1.3rem;
                }

                @media(max-width: 768px) {
                    padding: 1rem;
                }

                &:nth-child(2) {
                    background-color: $orange-main;
                }

                svg {
                    fill: $white;
                    font-size: 2rem;
                    display: flex;

                    @media(max-width: 1024px) {
                        font-size: 1.6rem;
                    }

                    @media(max-width: 768px) {
                        font-size: 1.2rem;
                    }

                    @media(max-width: 520px) {
                        font-size: 1.4rem;
                    }
                }

                h2 {
                    color: $white;
                    font-size: 2rem;
                    font-weight: 600;

                    @media(max-width: 1024px) {
                        font-size: 1.6rem;
                    }

                    @media(max-width: 768px) {
                        font-size: 1.3rem;
                    }

                    @media(max-width: 520px) {
                        font-size: 1.5rem;
                    }
                }

                p {
                    color: $white;
                    font-weight: 500;
                    font-size: 1rem;

                    @media(max-width: 1024px) {
                        font-size: 0.8rem;
                    }

                    @media(max-width: 768px) {
                        font-size: 0.6rem;
                    }

                    @media(max-width: 520px) {
                        font-size: 0.8rem;
                    }
                }
            }
        }

        .referanslarSectionContainer {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;

            h1 {
                font-size: 28px;
                font-weight: 600;

                @media(max-width: 1024px) {
                    font-size: 22px;
                }
            }

            .sliderContainer {
                overflow: hidden;
                width: 100%;
                position: relative;
                padding: 20px 0;
                border-bottom: 2px solid $orange-main;
                border-top: 2px solid $orange-main;

                .sliderTrack {
                    display: flex;
                    width: max-content;
                    // animation: scrollRightToLeft 30s linear infinite;

                    // &:hover {
                    //     animation-play-state: paused;
                    // }

                    .slide {
                        width: 150px;
                        margin: 0 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        @media (max-width: 768px) {
                            width: 100px;
                            margin: 0 10px;
                        }

                        @media (max-width: 520px) {
                            width: 70px;
                        }

                        img {
                            max-width: 100%;
                            height: auto;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
}


@keyframes scrollRightToLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}