@use "../globals.scss" as *;


.iletisim {

    .iletisimPageContainer {
        display: flex;

        .logo {
            margin-top: 6rem;
            height: 30vh;
            display: flex;
            align-items: center;
            display: none;
        }

        @media (max-width: 768px) {
            flex-direction: column;

            .logo {
                display: block;
            }

            .stripeImageContainer {
                display: none !important;
            }
        }



        .stripeImageContainer {
            display: block;
            position: relative;
            width: 80%;
            height: 100vh;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;

            li {
                position: relative;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                transition: 0.4s ease;
                cursor: pointer;

                &:hover {
                    width: 400%;

                    .projectNameContainer {
                        opacity: 1;
                        height: 10rem;
                    }
                }

                .projectNameContainer {
                    position: absolute;
                    bottom: 0;
                    background: hsla(0, 0%, 0%, 0.6);
                    width: 100%;
                    height: 0;
                    color: $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    font-size: 1.5rem;
                    font-weight: 700;
                    transition: 0.4s ease;
                }
            }


        }


        .contactDetails {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            row-gap: 2rem;
            padding-inline: 2rem;

            @media (max-width: 1200px) {
                row-gap: 1.5rem;
                padding-inline: 1.5rem;
            }

            @media (max-width: 880px) {
                padding-inline: 1rem;
            }

            @media (max-width: 768px) {
                height: 40vh;
            }

            h1 {
                font-size: 2rem;

                @media (max-width: 1200px) {
                    font-size: 1.2rem;
                }

                @media (max-width: 576px) {
                    font-size: 1.1rem;
                }
            }

            .contactInfo {
                display: flex;
                flex-direction: column;
                row-gap: 1rem;

                li {
                    display: flex;
                    align-items: center;
                    column-gap: 1.6rem;
                    transition: 0.4s ease;


                    @media (max-width: 1200px) {
                        column-gap: 1rem;
                    }

                    svg {
                        flex-shrink: 0;
                        font-size: 1rem;
                        transition: 0.4s ease;

                        @media (max-width: 1200px) {
                            font-size: 0.8rem;
                        }
                    }

                    p {
                        margin: 0;
                        word-break: break-word;
                        transition: 0.4s ease;

                        @media (max-width: 1200px) {
                            font-size: 0.8rem;
                        }

                        @media (max-width: 576px) {
                            font-size: 0.7rem;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        scale: 1.02;

                        p {
                            color: $orange-main;
                        }

                        svg {
                            fill: $orange-main;
                        }
                    }
                }
            }

            .socialMedia {
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 1rem;

                a {
                    display: flex;

                    &:hover {
                        svg {
                            scale: 1.25;
                            fill: $orange-main;
                        }
                    }

                    svg {
                        font-size: 1.2rem;
                        transition: scale 0.2s ease, fill 0.2s ease;

                        @media (max-width: 1200px) {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}