@use "../globals.scss" as *;



.projeler {
    min-height: calc(100vh - 4rem);
    padding-bottom: 4rem;

    @media(max-width: 768px) {
        padding-bottom: 2rem;
    }

    @media(max-width: 460px) {
        padding-bottom: 1.4rem;
    }

    .filterMainContainer {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        column-gap: 1rem;

        @media(max-width: 1120px) {
            flex-direction: column;
            row-gap: 1rem;
            align-items: start;
        }

        @media(max-width: 460px) {
            margin-top: 1.4rem;
        }

        .filterLeft {
            display: flex;
            column-gap: 1rem;

            @media(max-width: 1120px) {
                width: 100%;
            }
        }

        .filterRight {
            display: flex;
            column-gap: 1rem;

            @media(max-width: 1120px) {
                width: 100%;
            }
        }

        .filterButton {
            width: 12rem;
            height: 2rem;
            background-color: $white;
            color: $black;
            border: 2px solid $black;
            font-size: 0.75rem;
            transition: 0.4s ease;
            cursor: pointer;

            @media(max-width: 1120px) {
                width: 100%;
            }

            @media(max-width: 520px) {
                font-size: 0.7rem;
            }

            &:hover {
                background-color: $orange-main;
                color: $white;
                border: none;
            }
        }

        .selectedButton {
            background-color: $black;
            color: $white;
            border: none;
        }

        .inputContainer {
            position: relative;
            height: 2rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            width: 100%;

            .filterInput {
                width: 20rem;
                height: 100%;
                outline: none;
                padding-inline: 1rem;
                overflow: hidden;
                transition: border-color 0.2s ease;
                background: transparent;
                border: 1px solid $black;

                @media(max-width: 1120px) {
                    width: 100%;
                }

                @media(max-width: 520px) {
                    font-size: 0.7rem;
                }

                .filterInput:focus {
                    border: 1px solid $orange-main;
                }

                /* Optional: for better keyboard accessibility */
                .filterInput:focus-visible {
                    border: 1px solid $orange-main;
                }

            }

            .deleteButton {
                position: absolute;
                right: 0;
                cursor: pointer;
                height: 2rem;
                aspect-ratio: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.4s ease;

                &:hover {
                    background-color: $orange-main;
                    color: $white;
                }
            }
        }

        .cityDropdownContainer {
            cursor: pointer;
            display: flex;
            position: relative;

            .selectMenu {
                border: 1px solid $black;
                background-color: $white;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 2rem;
                width: 14rem;
                padding-inline: 0.6rem;

                @media(max-width: 768px) {
                    width: 12rem;
                }

                @media(max-width: 520px) {
                    width: 8rem;
                }

                p {
                    font-size: 0.9rem;

                    @media(max-width: 768px) {
                        font-size: 0.8rem;
                    }

                    @media(max-width: 520px) {
                        font-size: 0.7rem;
                    }
                }

                svg {
                    font-size: 0.8rem;
                    cursor: pointer;
                    transition: fill 0.2s ease;

                    &:hover {
                        fill: $orange-main;
                    }
                }
            }

            .dropdownContainer {
                max-height: 10rem;
                background-color: $white;
                position: absolute;
                top: 2rem;
                left: 0rem;
                width: 14rem;
                z-index: 9;
                border: 1px solid $black;
                border-top: none;
                overflow-y: auto;

                @media(max-width: 768px) {
                    width: 12rem;
                }

                @media(max-width: 520px) {
                    width: 8rem;
                }

                &::-webkit-scrollbar-track {
                    margin: 0 !important;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $orange-main !important;
                }

                .dropdownMenu {
                    width: 100%;


                    li {
                        height: 2rem;
                        display: flex;
                        align-items: center;
                        padding-inline: 0.6rem;
                        font-size: 0.9rem;
                        transition: background-color 0.2s ease, color 0.2s ease;

                        @media(max-width: 768px) {
                            font-size: 0.8rem;
                        }

                        @media(max-width: 520px) {
                            font-size: 0.7rem;
                        }

                        &:hover {
                            background-color: $orange-main;
                            color: $white;
                        }
                    }
                }
            }
        }

    }


    .projectsMainContainer {
        margin-top: 3rem;
        width: 100%;
        min-height: 50vh;
        // min-height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        row-gap: 2rem;
        overflow: hidden;


        @media(max-width: 1000px) {
            display: flex;
            flex-direction: column;
        }

        @media(max-width: 768px) {
            margin-top: 2rem;
        }

        @media(max-width: 460px) {
            row-gap: 1.4rem;
            margin-top: 1.4rem;
        }

        .projectContainer {
            position: relative;
            width: 100%;
            height: 15rem;
            overflow: hidden;
            display: flex;
            align-items: center;
            // opacity: 0;
            // animation: fadeInUp-2rem 0.3s forwards ease;

            @media(max-width: 460px) {
                height: 10rem;
            }

            &:hover {
                .projectDescriptionContainer {
                    top: 0;
                    opacity: 100%;
                }

                img {
                    filter: none;
                    scale: 1.05;
                }
            }

            img {
                position: absolute;
                width: 100%;
                height: auto;
                filter: grayscale(1);
                cursor: pointer;
                transition: scale 0.5s ease;
            }

            .projectDescriptionContainer {
                position: absolute;
                left: 0%;
                top: 100%;
                width: 35%;
                height: 100%;
                background-color: $black;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                transition: 0.4s ease;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 5rem 1rem;
                row-gap: 1rem;
                cursor: pointer;

                @media(max-width: 768px) {
                    padding: 1rem;
                    top: 0;
                }

                @media(max-width: 460px) {
                    row-gap: 0.8rem;
                }

                h3 {
                    text-align: center;
                    font-size: 1.25rem;
                    color: $white !important;

                    @media(max-width: 768px) {
                        font-size: 1rem;
                    }

                    @media(max-width: 520px) {
                        font-size: 0.9rem;
                        font-weight: 600;
                    }

                    @media(max-width: 460px) {
                        font-size: 0.8rem;
                    }
                }

                p {
                    color: $white !important;
                    text-align: center;

                    @media(max-width: 1300px) {
                        font-size: 0.8rem;
                    }

                    @media(max-width: 768px) {
                        font-size: 0.7rem;
                    }

                    @media(max-width: 520px) {
                        font-size: 0.6rem;
                    }

                    @media(max-width: 460px) {
                        font-size: 0.5rem;
                    }
                }

            }
        }
    }

    .loadButton {
        background-color: $black;
        width: 100%;
        height: 2rem;
        color: $white;
        margin-top: 2rem;
        @include flex-center;
        font-size: 0.75rem;
        font-weight: 400;
        cursor: pointer;
        transition: 0.2s background-color ease;

        @media(max-width: 1024px) {
            font-size: 0.65rem;
        }

        @media(max-width: 768px) {
            font-size: 0.55rem;
        }

        @media(max-width: 460px) {
            margin-top: 1.4rem;
        }

        &:hover {
            background-color: $orange-main;
        }
    }



}