@use "../globals.scss" as *;

.projectMainContainer {
    height: calc(100vh - 8rem);
    margin-top: 4rem;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10rem;
}

.mainSlider {
    margin-top: 4rem;
    height: 100%;
    padding-inline: 2rem;
    overflow: hidden;
}

.slide {
    padding-inline: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    outline: none;
    border: none;

    @media (max-width: 520px) {
        padding-inline: 0.4rem;
    }
}

.slide img {
    height: calc(100vh - 20rem);
    object-fit: cover;
    cursor: grab;
}

.slide h1 {
    margin-bottom: 1rem;

    @media (max-width: 768px) {
        font-size: 24px;
    }
}

.slide p {
    font-weight: 500;
    color: var(--textGrey);
    text-align: end;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

.slideText {
    font-weight: 700 !important;
    color: var(--textBlack) !important;
    margin-bottom: 0.75rem;
}

.slide ul p {
    list-style: none;
    margin-bottom: 0.25rem;
}

.projectMainContainer footer {
    position: absolute;
    bottom: 0;
}

.sliderRange {
    position: absolute;
    height: 100%;
    width: 100%;
    rotate: 90deg;
}

.backButtonDiv {
    position: absolute;
    left: 4rem;
    top: 1.5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 1.5rem;
    transition: 0.4s ease;
    cursor: pointer;

    @media (max-width: 520px) {
        left: 0.4rem !important;
    }
}

.backButtonDiv:hover>.backButton {
    scale: 1.1;
    animation: backAnimation 1s infinite;
    color: $orange-main;
}

img,
i,
svg {
    user-select: none !important;
    -webkit-user-drag: none !important;
}


@keyframes backAnimation {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0);
    }
}

@media (max-width: 768px) {

    .projectMainContainer {
        height: fit-content;
        padding-bottom: 0;
        margin-top: 0;
    }

    .mainSlider {
        padding-inline: 0;
        display: flex;
        flex-direction: column;
    }

    .slide {
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
    }

    .slide img {
        height: fit-content;
        width: 100%;
    }

    .slide p {
        text-align: start;
    }

    .backButtonDiv {
        left: 2rem;
    }

    .projectMainContainer footer {
        display: none;
    }

}