@use "../globals.scss" as *;


.projeler {
    min-height: calc(100vh - 4rem);
    padding-bottom: 4rem;

    .filterMainContainer {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        .filterButton {
            width: 12rem;
            height: 2rem;
            background-color: $white;
            color: $black;
            border: 2px solid $black;
            font-size: 0.75rem;
            transition: 0.4s ease;
            cursor: pointer;

            &:hover {
                background-color: $orange-main;
                color: $white;
                border: none;
            }
        }

        .selectedButton {
            background-color: $black;
            color: $white;
            border: none;
        }

        .inputContainer {
            position: relative;
            height: 2rem;
            display: flex;
            align-items: center;
            gap: 1rem;

            .filterInput {
                width: 20rem;
                height: 100%;
                outline: none;
                padding-inline: 1rem;
                overflow: hidden;
                transition: border-color 0.2s ease;
                background: transparent;
                border: 1px solid $black;

                .filterInput:focus {
                    border: 1px solid $orange-main;
                }

                /* Optional: for better keyboard accessibility */
                .filterInput:focus-visible {
                    border: 1px solid $orange-main;
                }

            }

            .deleteButton {
                position: absolute;
                right: 0;
                cursor: pointer;
                height: 2rem;
                aspect-ratio: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.4s ease;

                &:hover {
                    background-color: $orange-main;
                    color: $white;
                }
            }
        }

    }


    .projectsMainContainer {
        margin-top: 3rem;
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        row-gap: 2rem;
        overflow-x: hidden;

        .projectContainer {
            position: relative;
            width: 100%;
            height: 15rem;
            overflow: hidden;

            &:hover {
                .projectDescriptionContainer {
                    top: 0;
                    opacity: 100%;
                }
            }

            img {
                position: absolute;
                width: 100%;
                height: auto;
                filter: grayscale(1);
                cursor: pointer;
                transition: scale 0.5s ease;

                &:hover {
                    filter: none;
                }
            }

            .projectDescriptionContainer {
                position: absolute;
                left: 0%;
                top: 100%;
                width: 35%;
                height: 100%;
                background-color: $black;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                transition: 0.4s ease;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: 5rem 1rem;
                cursor: pointer;

                h3 {
                    text-align: center;
                    font-size: 1.25rem;
                    color: $white !important;
                }

                p {
                    color: $white !important;
                }

            }
        }
    }




}