@use "../globals.scss" as *;


.Footer {
    height: 10rem;
    background-color: rgb(0, 0, 0);
    @include flex-space-between;
    padding: 2rem $inlinePadding;

    .navLinks {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    img {
        height: 5rem;
    }

    .socialMediaLinks {
        display: flex;
        gap: 1rem;
        font-size: 1.25rem;
    }
}