@use "../globals.scss" as *;


.Footer {
    min-height: 10rem;
    background-color: $black;
    @include flex-space-between;
    padding: 2rem $inlinePadding;

    @media(max-width: 880px) {
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    @media(max-width: 650px) {
        padding: 2rem 1rem;
    }

    @media(max-width: 425px) {
        padding: 1.5rem 1rem;
    }

    img {
        width: 200px;
    }

    .navLinks {
        display: flex;
        align-items: center;
        column-gap: 1.5rem;
        padding-left: 1rem;

        @media(max-width: 880px) {
            flex-direction: column;
            height: 100%;
            row-gap: 2rem;
            padding-left: 0;
        }

        a {
            font-size: 0.8rem;
            color: $white;
            transition: 0.4s ease;

            @media(max-width: 425px) {
                font-size: 10px;
            }

            &:hover {
                color: $orange-main;
                scale: 1.1;
            }
        }

    }

    .footerRight {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0.6rem;

        @media(max-width: 880px) {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
        }

        .socialMediaLinks {
            display: flex;
            column-gap: 1rem;

            @media(max-width: 880px) {
                column-gap: 3rem;
            }

            @media(max-width: 650px) {
                column-gap: 1rem;
            }

            a {
                display: flex;
                font-size: 1.25rem;

                svg {
                    fill: $white;
                    transition: 0.2s ease;

                    &:hover {
                        fill: $orange-main;
                        scale: 1.1;
                    }
                }
            }
        }

        .copyrightText {
            font-size: 12px;
            color: #474747;
            text-align: center;

            @media(max-width: 880px) {
                padding-left: 1rem;
            }

            @media(max-width: 650px) {
                font-size: 10px;
            }
        }
    }
}