@use "../globals.scss" as *;


.Navbar {
    background-color: $white;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding-inline: $inlinePadding;
    z-index: 10;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;

    @media(max-width: 1024px) {
        padding-inline: 2rem;
    }

    @media(max-width: 768px) {
        padding-inline: 1rem;
    }

    .navLeft {
        display: flex;
        column-gap: 2rem;

        .logoImage {
            display: flex;

            img {
                height: 3rem;
                fill: red;
            }
        }

        .navLinks {
            display: flex;
            column-gap: 1.5rem;

            @media(max-width: 768px) {
                background-color: $white;
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                flex-direction: column;
                align-items: center;
                row-gap: 1.5rem;
                padding-block: 1.5rem;
                transform: translateY(calc(-100%));
                opacity: 0;
                transition: transform 0.4s ease, opacity 0.4s ease;
                z-index: -9;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 12px -4px;
            }

            a {
                display: flex;
                align-items: center;
                font-size: 0.8rem;
                font-weight: 500;
                color: $dark-faded;
                transition: 0.3s ease;

                // @media(max-width: 768px) {
                //     opacity: 0;
                // }

                &:hover {
                    color: $orange-main;
                    scale: 1.1;
                }
            }

            // .navLinksActive {
            //     animation: slideFadeIn 0.8s ease forwards;
            // }
        }
    }

    .navRight {
        display: flex;

        .dropdownButton {
            display: none;
            transition: 0.3s ease;
            cursor: pointer;
            fill: $dark-faded;


            @media(max-width: 768px) {
                display: flex;
            }

            &:hover {
                color: $orange-main;
                fill: $orange-main;
            }
        }
    }
}


@keyframes slideFadeIn {
    from {
        opacity: 0;
        transform: translateX(-4rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}