@use "../globals.scss" as *;


.Navbar {
    background-color: #ffffff7e;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 4rem;
    display: flex;
    align-items: center;
    position: fixed;
    padding-inline: $inlinePadding;
    z-index: 10;

    .navLeft {
        display: flex;
        column-gap: 2rem;

        .navLinks {
            display: flex;
            column-gap: 1.5rem;


            a {
                display: flex;
                align-items: center;
                font-size: 0.8rem;
                font-weight: 500;
            }


        }
    }
}